<center><h1 style="background-color: #C6F3CD; border-radius: 10px; color: #FFFFFF; padding: 5px;">
Data Management
</h1><center/>

**Link to the article** :  https://medium.com/kinomoto-mag/pandas-tutorial-vi-2024-update-4e908ffdac30?sk=a154d58fca2db949e1606d1f8ceacf9c

In [1]:
import pandas as pd

In [2]:
import yfinance as yf
import pandas as pd

# Download historical stock data for Apple (AAPL)
data = yf.download('AAPL', start='2023-01-01', end='2023-12-31')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,123.904633,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.182610,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,123.855095,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.412216,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,128.937271,70790800
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,192.868134,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,192.320221,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,192.419830,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,192.848206,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,191.802170,42628800

In [3]:
df = data[['Close']]
df

                 Close
Date
2023-01-03  125.070000
2023-01-04  126.360001
2023-01-05  125.019997
2023-01-06  129.619995
2023-01-09  130.149994
...                ...
2023-12-22  193.600006
2023-12-26  193.050003
2023-12-27  193.149994
2023-12-28  193.580002
2023-12-29  192.529999

[250 rows x 1 columns]

### Shift

In [4]:
df['Previous_Close'] = df['Close'].shift(1)
df

C:\Users\Walid\AppData\Local\Temp\ipykernel_11932\3339221216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous_Close'] = df['Close'].shift(1)

                 Close  Previous_Close
Date
2023-01-03  125.070000             NaN
2023-01-04  126.360001      125.070000
2023-01-05  125.019997      126.360001
2023-01-06  129.619995      125.019997
2023-01-09  130.149994      129.619995
...                ...             ...
2023-12-22  193.600006      194.679993
2023-12-26  193.050003      193.600006
2023-12-27  193.149994      193.050003
2023-12-28  193.580002      193.149994
2023-12-29  192.529999      193.580002

[250 rows x 2 columns]

In [5]:
df['Grwoth'] = (((df['Close'] - df['Previous_Close']) / df['Previous_Close'])*100).round(2)
df

C:\Users\Walid\AppData\Local\Temp\ipykernel_11932\678249643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grwoth'] = (((df['Close'] - df['Previous_Close']) / df['Previous_Close'])*100).round(2)

                 Close  Previous_Close  Grwoth
Date
2023-01-03  125.070000             NaN     NaN
2023-01-04  126.360001      125.070000    1.03
2023-01-05  125.019997      126.360001   -1.06
2023-01-06  129.619995      125.019997    3.68
2023-01-09  130.149994      129.619995    0.41
...                ...             ...     ...
2023-12-22  193.600006      194.679993   -0.55
2023-12-26  193.050003      193.600006   -0.28
2023-12-27  193.149994      193.050003    0.05
2023-12-28  193.580002      193.149994    0.22
2023-12-29  192.529999      193.580002   -0.54

[250 rows x 3 columns]

#### Rank

In [6]:
# Rank the closing prices within the dataset
df['Rank'] = df['Close'].rank()
df

C:\Users\Walid\AppData\Local\Temp\ipykernel_11932\1826938804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rank'] = df['Close'].rank()

                 Close  Previous_Close  Grwoth   Rank
Date
2023-01-03  125.070000             NaN     NaN    2.0
2023-01-04  126.360001      125.070000    1.03    3.0
2023-01-05  125.019997      126.360001   -1.06    1.0
2023-01-06  129.619995      125.019997    3.68    4.0
2023-01-09  130.149994      129.619995    0.41    5.0
...                ...             ...     ...    ...
2023-12-22  193.600006      194.679993   -0.55  231.0
2023-12-26  193.050003      193.600006   -0.28  224.0
2023-12-27  193.149994      193.050003    0.05  226.0
2023-12-28  193.580002      193.149994    0.22  230.0
2023-12-29  192.529999      193.580002   -0.54  221.0

[250 rows x 4 columns]

#### Rolling

In [7]:
df['7-Day_Rolling_Mean'] = df['Close'].rolling(window=7).mean()
df.head(7)

C:\Users\Walid\AppData\Local\Temp\ipykernel_11932\1005364803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['7-Day_Rolling_Mean'] = df['Close'].rolling(window=7).mean()

                 Close  Previous_Close  Grwoth  Rank  7-Day_Rolling_Mean
Date
2023-01-03  125.070000             NaN     NaN   2.0                 NaN
2023-01-04  126.360001      125.070000    1.03   3.0                 NaN
2023-01-05  125.019997      126.360001   -1.06   1.0                 NaN
2023-01-06  129.619995      125.019997    3.68   4.0                 NaN
2023-01-09  130.149994      129.619995    0.41   5.0                 NaN
2023-01-10  130.729996      130.149994    0.45   6.0                 NaN
2023-01-11  133.490005      130.729996    2.11   8.0          128.634284

#### Cumsum

In [8]:
# Calculate the cumulative sum of the closing prices
df['Cumulative_Sum'] = df['Close'].cumsum()
df

,Close,Previous_Close,Grwoth,Rank,7-Day_Rolling_Mean,Cumulative_Sum
Date,,,,,,
2023-01-03,125.070000,NaN,NaN,2.0,NaN,125.070000
2023-01-04,126.360001,125.070000,1.03,3.0,NaN,251.430000
2023-01-05,125.019997,126.360001,-1.06,1.0,NaN,376.449997
2023-01-06,129.619995,125.019997,3.68,4.0,NaN,506.069992
2023-01-09,130.149994,129.619995,0.41,5.0,NaN,636.219986
...,...,...,...,...,...,...
2023-12-22,193.600006,194.679993,-0.55,231.0,195.945716,42364.940079
2023-12-26,193.050003,193.600006,-0.28,224.0,195.222859,42557.990082
2023-12-27,193.149994,193.050003,0.05,226.0,194.591428,42751.140076
2023-12-28,193.580002,193.149994,0.22,230.0,194.261429,42944.720078
2023-12-29,192.529999,193.580002,-0.54,221.0,193.631428,43137.250076