<center><h1 style="background-color: #C6F3CD; border-radius: 10px; color: #FFFFFF; padding: 5px;">
Data Management
</h1><center/>

**Link to the article** :  https://medium.com/@soulawalid/pandas-tutorial-v-2024-update-4bd1a22ff279?sk=b7f4611e997f12aa8891e3bf33063361

In [1]:
import pandas as pd

In [2]:
# lOAD
bios = pd.read_excel(r'C:\Users\Walid\Desktop\olympics-data.xlsx')
results = pd.read_excel(r'C:\Users\Walid\Desktop\olympics-data.xlsx', sheet_name='results')

In [3]:
bios_sample = bios.sample(100)
results_sample = results.sample(100, random_state = 40)

### Handling Null Vales

In [4]:
results_sample.isna().sum()

year           0
type           0
discipline     0
event          0
as             0
athlete_id     0
noc            0
team          57
place          5
tied           0
medal         81
dtype: int64

In [5]:
results_sample[results_sample['place'].isna()]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
289856,2018.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Jan Zabystřan,137007,CZE,Czech Republic,NaN,False,NaN
190182,2004.0,Summer,Athletics,"Marathon, Men (Olympic)",Viktor Röthlin,88984,SUI,NaN,NaN,False,NaN
240486,2006.0,Winter,Alpine Skiing (Skiing),"Slalom, Men (Olympic)",Dalibor Šamšal,111046,CRO,NaN,NaN,False,NaN
229718,2004.0,Summer,Judo,"Half-Lightweight, Women (Olympic)",Hortance Diédhiou,106396,SEN,NaN,NaN,False,NaN
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,NaN,NaN,False,NaN

In [6]:
results_sample[results_sample[['place', 'medal']].isna().any(axis=1)]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,NaN,28.0,False,NaN
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,NaN,12.0,False,NaN
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,NaN,47.0,True,NaN
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,NaN,88.0,False,NaN
287547,2016.0,Summer,Athletics,"Discus Throw, Men (Olympic)",Alex Rose,135835,SAM,NaN,29.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
118818,1960.0,Summer,Water Polo (Aquatics),"Water Polo, Men (Olympic)",Hans Hoffmeister,54002,GER,Unified Team of Germany,6.0,False,NaN
214801,2002.0,Winter,Snowboarding (Skiing),"Parallel Giant Slalom, Women (Olympic)",Dagi Mair unter der Eggen,99747,ITA,NaN,9.0,False,NaN
175700,2010.0,Winter,Cross Country Skiing (Skiing),"Sprint, Women (Olympic)",Yelena Antonova,82959,KAZ,NaN,45.0,False,NaN
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,NaN,19.0,False,NaN
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,NaN,NaN,False,NaN

In [7]:
results_sample[results_sample['place'].notna()]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,NaN,28.0,False,NaN
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,NaN,12.0,False,NaN
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,NaN,2.0,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,NaN,47.0,True,NaN
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,NaN,88.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
175700,2010.0,Winter,Cross Country Skiing (Skiing),"Sprint, Women (Olympic)",Yelena Antonova,82959,KAZ,NaN,45.0,False,NaN
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,NaN,2.0,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,NaN,19.0,False,NaN
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver

In [8]:
results_sample = results.sample(100, random_state = 40)
results_sample.fillna(10)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,10,28.0,False,10
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,10,12.0,False,10
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,10,2.0,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,10,47.0,True,10
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,10,88.0,False,10
...,...,...,...,...,...,...,...,...,...,...,...
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,10,2.0,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,10,19.0,False,10
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,10,10.0,False,10

In [9]:
results_sample = results.sample(100, random_state = 40)
results_sample.fillna(results_sample['place'].mean())

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,15.221053,28.000000,False,15.221053
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,15.221053,12.000000,False,15.221053
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,15.221053,2.000000,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,15.221053,47.000000,True,15.221053
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,15.221053,88.000000,False,15.221053
...,...,...,...,...,...,...,...,...,...,...,...
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,15.221053,2.000000,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.000000,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,15.221053,19.000000,False,15.221053
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.000000,False,Silver
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,15.221053,15.221053,False,15.221053

In [10]:
results_sample = results.sample(100, random_state = 40)
results_sample.fillna(results_sample['place'].interpolate())

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,NaN,28.0,False,NaN
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,NaN,12.0,False,NaN
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,NaN,2.0,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,NaN,47.0,True,NaN
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,NaN,88.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,NaN,2.0,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,NaN,19.0,False,NaN
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,NaN,NaN,False,NaN

In [11]:
results_sample = results.sample(100, random_state = 40)
results_sample.dropna()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
32378,1900.0,Summer,Cricket,"Cricket, Men (Olympic)",William Anderson,17819,FRA,Union des Sociétés Français de Sports Athletiques,2.0,False,Silver
42957,1948.0,Summer,Fencing,"Sabre, Team, Men (Olympic)",Carlo Turcato,22754,ITA,Italy,2.0,False,Silver
16513,2000.0,Summer,Canoe Sprint (Canoeing),"Kayak Doubles, 500 metres, Women (Olympic)",Aneta Pastuszka,10459,POL,Beata Sokołowska,3.0,False,Bronze
69734,1920.0,Summer,Artistic Gymnastics (Gymnastics),"Team All-Around, Swedish System, Men (Olympic)",Fausto Acke,31060,SWE,Sweden,1.0,False,Gold
144824,1928.0,Summer,Athletics,"4 × 100 metres Relay, Men (Olympic)",Jack London,69257,GBR,Great Britain,3.0,False,Bronze
242427,2012.0,Summer,Handball,"Handball, Women (Olympic)",Gøril Snorroeggen,112013,NOR,Norway,1.0,False,Gold
3102,1996.0,Summer,Softball (Baseball/Softball),"Softball, Women (Olympic)",Ou Jingbai,1418,CHN,People's Republic of China,2.0,False,Silver
217530,1924.0,Winter,Curling,"Curling, Men (Olympic)",Ture Ödlund,100745,SWE,Sweden,2.0,False,Silver
178213,1994.0,Winter,Luge,"Doubles, Open (Olympic)",Jan Behrendt,83964,GER,Stefan Krauße,3.0,False,Bronze
261698,2012.0,Summer,Rowing,"Lightweight Coxless Fours, Men (Olympic)",John Smith,121633,RSA,South Africa,1.0,False,Gold
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver

In [12]:
# Drop specific rows
results_sample = results.sample(100, random_state = 40)
results_sample.dropna(subset = ['place'],inplace=True)
results_sample

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,NaN,28.0,False,NaN
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,NaN,12.0,False,NaN
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,NaN,2.0,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,NaN,47.0,True,NaN
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,NaN,88.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
175700,2010.0,Winter,Cross Country Skiing (Skiing),"Sprint, Women (Olympic)",Yelena Antonova,82959,KAZ,NaN,45.0,False,NaN
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,NaN,2.0,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,NaN,19.0,False,NaN
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver

In [13]:
results_sample = results.sample(100, random_state = 40)
results_sample.bfill()
results_sample

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
258299,2010.0,Winter,Speed Skating (Skating),"1,000 metres, Men (Olympic)",Roman Krech,119716,KAZ,NaN,28.0,False,NaN
106538,1984.0,Summer,Swimming (Aquatics),"400 metres Freestyle, Men (Olympic)",Stefano Grandi,48528,ITA,NaN,12.0,False,NaN
278577,2016.0,Summer,Cycling Track (Cycling),"Sprint, Women (Olympic)",Becky James,130231,GBR,NaN,2.0,False,Silver
63665,1976.0,Summer,Artistic Gymnastics (Gymnastics),"Pommelled Horse, Men (Olympic)",Edgar Jorek,30267,FRG,NaN,47.0,True,NaN
69270,1992.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Daniel Giubellini,31016,SUI,NaN,88.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
87759,1996.0,Summer,Shooting,"Sporting Pistol, 25 metres, Women (Olympic)",Diana Yorgova,41416,BUL,NaN,2.0,False,Silver
85737,1988.0,Summer,Rowing,"Quadruple Sculls, Women (Olympic)",Antonina Dumcheva,40157,URS,Soviet Union,2.0,False,Silver
225133,2004.0,Summer,Athletics,"Shot Put, Women (Olympic)",Zhang Xiaoyu,103849,CHN,NaN,19.0,False,NaN
242490,2008.0,Summer,Handball,"Handball, Women (Olympic)",Yekaterina Marennikova,112059,RUS,Russian Federation,2.0,False,Silver
124017,1992.0,Summer,Wrestling,"Heavyweight, Freestyle, Men (Olympic)",Gavin Carrow,57502,CAN,NaN,NaN,False,NaN

#### Data Aggregation

In [14]:
#value counts
bios_sample['born_city'].value_counts()

born_city
Ciudad de Guatemala (Guatemala City)    2
Maracay                                 1
Ostrava                                 1
Valparaíso                              1
Xuzhou                                  1
                                       ..
Kinshasa                                1
Kuala Lumpur                            1
Helsinki                                1
Georgetown                              1
Schiedam                                1
Name: count, Length: 75, dtype: int64

In [15]:
bios[bios['born_country']=='GBR']['born_city'].value_counts()

born_city
London                  317
Birmingham              120
Glasgow                 113
Edinburgh                93
Manchester               92
                       ...
Hadleigh                  1
Ashton-in-Makerfield      1
Stonehaven                1
Belgrave                  1
Saddleworth               1
Name: count, Length: 1283, dtype: int64

In [16]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [17]:
#Groupby
bios.groupby(['born_country'])['height_cm'].mean()

born_country
AFG       170.416667
AGU       186.000000
ALB       174.657895
ALG       176.489362
AND       172.096774
             ...
VIN       181.200000
Vienna    171.000000
YEM       169.000000
ZAM       173.192308
ZIM       173.540000
Name: height_cm, Length: 236, dtype: float64

In [18]:
# agg
bios.groupby(['born_country']).agg({'height_cm':'mean','weight_kg':'mean' })

               height_cm  weight_kg
born_country
AFG           170.416667  68.521739
AGU           186.000000  78.000000
ALB           174.657895  76.027778
ALG           176.489362  68.043796
AND           172.096774  67.451613
...                  ...        ...
VIN           181.200000  70.600000
Vienna        171.000000  70.666667
YEM           169.000000  55.250000
ZAM           173.192308  68.400000
ZIM           173.540000  67.061224

[236 rows x 2 columns]

In [19]:
# Multiple Groupby
bios.groupby(['born_country','born_region']).agg({'height_cm':'mean','weight_kg':'mean' })

                                  height_cm  weight_kg
born_country born_region
AFG          Kabul               170.652174  69.136364
             Kandahar            165.000000  55.000000
AGU          Anguilla            186.000000  78.000000
ALB          Dibër               159.000000  45.000000
             Durrës              172.500000  82.000000
...                                     ...        ...
ZIM          Mashonaland East    186.500000  80.000000
             Mashonaland West    177.000000  67.000000
             Masvingo            171.500000  56.000000
             Matabeleland South  160.000000  48.000000
             Midlands            174.000000  67.200000

[2616 rows x 2 columns]

In [20]:
bios_sample

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
143918,147576,Eliécer Canelo,1998-07-30,Maracay,Aragua,VEN,Venezuela,196.0,NaN,NaN
24739,24928,Ochoa,1944-09-29,Badajoz,Badajoz,ESP,Spain,174.0,72.0,NaN
135803,139017,Kai Mittelsteadt,2002-05-20,Oconomowoc,Wisconsin,USA,United States,NaN,NaN,NaN
31330,31566,Jesper Munk Petersen,1953-12-18,København (Copenhagen),Hovedstaden,DEN,Denmark,179.0,74.0,NaN
1934,1944,Shinji Nakamoto,1945-07-08,NaN,NaN,NaN,Japan,171.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
127191,129626,Zhang Jinrong,1997-03-24,Changchun,Jilin,CHN,People's Republic of China,163.0,58.0,NaN
28833,29047,Antoinette Kuiters,1939-09-11,Schiedam,Zuid-Holland,NED,South Africa,161.0,61.0,NaN
83932,84600,Francesco Cardelli,1964-05-01,NaN,NaN,NaN,San Marino,177.0,70.0,NaN
11590,11651,Aníbal de Almeida,1898-10-18,NaN,NaN,NaN,Portugal,NaN,NaN,1959-09-24
33781,34043,Fred Marhenke,1950-04-19,NaN,NaN,NaN,West Germany,174.0,80.0,NaN

In [21]:
#Pivot
import pandas as pd
from sklearn.datasets import load_iris

In [22]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [23]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [24]:
pivot_table = df.pivot_table(values=iris.feature_names, 
                             index='species', 
                             aggfunc='mean')
pivot_table

,petal length (cm),petal width (cm),sepal length (cm),sepal width (cm)
species,,,,
setosa,1.462,0.246,5.006,3.428
versicolor,4.260,1.326,5.936,2.770
virginica,5.552,2.026,6.588,2.974