<center><h1 style="background-color: #C6F3CD; border-radius: 10px; color: #FFFFFF; padding: 5px;">
Data Management
</h1><center/>

**Link to the article** :  https://medium.com/@soulawalid/pandas-tutorial-ii-2024-update-1a5d6ca4ddb3?sk=351936372ab69dfa59b1f1199124fea0

In [1]:
import pandas as pd

In [5]:
# lOAD a DataFrame
bios = pd.read_excel(r'C:\Users\Walid\Desktop\olympics-data.xlsx')
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [6]:
# If you want to acces specific sheet you can use the following
results = pd.read_excel(r'C:\Users\Walid\Desktop\olympics-data.xlsx', sheet_name = 'results')
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,NaN,26.0,False,NaN
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,NaN,28.0,False,NaN
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,NaN
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,NaN,NaN,False,NaN
308407,2022.0,Winter,NaN,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,NaN,NaN,24.0,False,NaN

In [45]:
# Save to another format
results.to_parquet('C:/Users/Walid/Desktop/new file.parquet')
# Read it
results2 = pd.read_parquet(r'C:\Users\Walid\Desktop\new file.parquet')
results2

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [11]:
# Access a sample of the data
results2.sample(10)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
24184,1988.0,Summer,Cycling Track (Cycling),"Team Pursuit, 4,000 metres, Men (Olympic)",Fabio Baldato,13486,ITA,Italy,6.0,False,None
265161,2012.0,Summer,Basketball (Basketball),"Basketball, Women (Olympic)",Tássia Carcavalli,123614,BRA,Brazil,9.0,False,None
134039,1988.0,Summer,Athletics,"4 × 100 metres Relay, Men (Olympic)",James Browne,64342,ANT,Antigua and Barbuda,NaN,False,None
29892,1988.0,Summer,Cycling Road (Cycling),"Road Race, Individual, Men (Olympic)",Uwe Raab,16406,GDR,None,23.0,False,None
111872,1992.0,Summer,Swimming (Aquatics),"200 metres Individual Medley, Men (Olympic)",Jan Bidrman,50356,SWE,None,NaN,False,None
84492,1980.0,Summer,Rowing,"Coxed Fours, Men (Olympic)",Grzegorz Nowak,39385,POL,Poland,3.0,False,Bronze
137038,1924.0,Summer,Athletics,"Long Jump, Men (Olympic)",Álvaro Ribeiro,65618,BRA,None,NaN,False,None
242651,2012.0,Summer,Boxing,"Light-Heavyweight, Men (Olympic)",Bahram Muzaffer,112166,TUR,None,9.0,True,None
292822,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Peter Čerešňák,138123,SVK,Slovakia,3.0,False,Bronze
150366,1936.0,Summer,Athletics,"4 × 100 metres Relay, Men (Olympic)",Gianni Caldana,71898,ITA,Italy,2.0,False,Silver

In [13]:
# Consistant sample
results2.sample((10),random_state =1)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
288565,2020.0,Summer,Boxing,"Flyweight, Men (Olympic)",Yoel Finol,136459,VEN,None,17.0,True,None
57866,1972.0,Summer,Artistic Gymnastics (Gymnastics),"Floor Exercise, Women (Olympic)",Cathy Rigby,29279,USA,None,9.0,True,None
62957,1952.0,Summer,Artistic Gymnastics (Gymnastics),"Horizontal Bar, Men (Olympic)",Frank Turner,30180,GBR,None,106.0,True,None
269319,2012.0,Summer,Water Polo (Aquatics),"Water Polo, Men (Olympic)",Viktor Nagy,126005,HUN,Hungary,5.0,False,None
62254,1908.0,Summer,Artistic Gymnastics (Gymnastics),"Team All-Around, Men (Olympic)",Alphonse Pinoy,30008,FRA,France,5.0,False,None
269358,2016.0,Summer,Athletics,"50 kilometres Race Walk, Men (Olympic)",Miguel Ángel López,126029,ESP,None,NaN,False,None
75029,1996.0,Summer,Handball,"Handball, Women (Olympic)",Laurie Fellner,32933,USA,United States,8.0,False,None
19642,1960.0,Summer,Equestrian Jumping (Equestrian),"Team, Open (Olympic)",Sean Daly,11800,IRL,Loch Garman / Ireland,NaN,False,None
165394,1920.0,Summer,Athletics,"110 metres Hurdles, Men (Olympic)",Walker Smith,79066,USA,None,5.0,False,None
59966,1984.0,Summer,Artistic Gymnastics (Gymnastics),"Floor Exercise, Men (Olympic)",Tong Fei,29569,CHN,None,8.0,False,None

In [14]:
# Loc
results2.loc[0]

year                          1912.0
type                          Summer
discipline                    Tennis
event         Singles, Men (Olympic)
as             Jean-François Blanchy
athlete_id                         1
noc                              FRA
team                            None
place                           17.0
tied                            True
medal                           None
Name: 0, dtype: object

In [15]:
# Multiple Loc
results2.loc[[0,1,3]]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None

In [16]:
# Slice
results2.loc[0:3]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None

In [17]:
# Slide with rows and columns with loc
results2.loc[0:2, ['type','team']]

     type            team
0  Summer            None
1  Summer  Jean Montariol
2  Summer            None

In [18]:
# All rows and specific columns with loc
results2.loc[:, ['type','team']]

          type             team
0       Summer             None
1       Summer   Jean Montariol
2       Summer             None
3       Summer  Jeanne Vaussard
4       Summer  Jacques Brugnon
...        ...              ...
308403  Winter             None
308404  Winter             None
308405  Winter           Sweden
308406  Winter             None
308407  Winter             None

[308408 rows x 2 columns]

In [19]:
# All rows and specific columns with iloc
results2.iloc[:, [1,7]]

          type             team
0       Summer             None
1       Summer   Jean Montariol
2       Summer             None
3       Summer  Jeanne Vaussard
4       Summer  Jacques Brugnon
...        ...              ...
308403  Winter             None
308404  Winter             None
308405  Winter           Sweden
308406  Winter             None
308407  Winter             None

[308408 rows x 2 columns]

In [93]:
results2 = pd.read_parquet(r'C:\Users\Walid\Desktop\new file.parquet')
results2.index = results2['type']

----

### Optional Part

In [90]:
results2 = pd.read_parquet(r'C:\Users\Walid\Desktop\new file.parquet')
results2.head(1)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None

In [91]:
# Changing the index
results2.set_index('type', inplace=True)

In [92]:
results_restored = results2.reset_index()
results_restored

,type,year,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,Summer,1912.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,Summer,1912.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,Summer,1920.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,Summer,1920.0,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,Summer,1920.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,Winter,2022.0,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,Winter,2022.0,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,Winter,2022.0,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,Winter,2022.0,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,Winter,2022.0,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

---

In [21]:
# Using loc from the new index
results2.loc['Summer']

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,,
Summer,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
Summer,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
Summer,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
Summer,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
Summer,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
Summer,1996.0,Summer,Water Polo (Aquatics),"Water Polo, Men (Olympic)",Anastasios Papanastasiou,147804,GRE,Greece,6.0,False,None
Summer,1920.0,Summer,Rowing,"Coxed Fours, Men (Olympic)",Raphael de Ligne,147805,BEL,Belgium,2.0,False,None
Summer,2018.0,Summer,Roller Skating (Roller Sports),"Combined, Boys (YOG)",Merijn Scheperkamp,148677,NED,None,3.0,False,Bronze
Summer,2018.0,Summer,Triathlon,"Sprint, Girls (YOG)",Anja Weber,148920,SUI,None,3.0,False,Bronze
Summer,2018.0,Summer,Triathlon,"Relay, Mixed Youth (YOG)",Anja Weber,148920,SUI,Europe 1,1.0,False,Gold

In [23]:
# Multple filters
results2.loc['Summer', 'medal']

type
Summer      None
Summer      None
Summer      None
Summer      None
Summer      None
           ...
Summer      None
Summer      None
Summer    Bronze
Summer    Bronze
Summer      Gold
Name: medal, Length: 241298, dtype: object

In [27]:
# Modification of specific value
results2 = pd.read_parquet(r'C:\Users\Walid\Desktop\new file.parquet')
results2.loc[0]

year                          1912.0
type                          Summer
discipline                    Tennis
event         Singles, Men (Olympic)
as             Jean-François Blanchy
athlete_id                         1
noc                              FRA
team                            None
place                           17.0
tied                            True
medal                           None
Name: 0, dtype: object

In [28]:
results2.loc[0,"year"] = 1958 # I will always remember you

In [29]:
results2.loc[0]

year                          1958.0
type                          Summer
discipline                    Tennis
event         Singles, Men (Olympic)
as             Jean-François Blanchy
athlete_id                         1
noc                              FRA
team                            None
place                           17.0
tied                            True
medal                           None
Name: 0, dtype: object

In [30]:
# Using at and iat rather than loc and iloc
#at
results2.at[0, "discipline"]

'Tennis'

In [37]:
#iat
results2.iat[0,2]

'Tennis'

In [38]:
#access data for specific column
results.type

0         Summer
1         Summer
2         Summer
3         Summer
4         Summer
           ...
308403    Winter
308404    Winter
308405    Winter
308406    Winter
308407    Winter
Name: type, Length: 308408, dtype: object

In [39]:
results['type']

0         Summer
1         Summer
2         Summer
3         Summer
4         Summer
           ...
308403    Winter
308404    Winter
308405    Winter
308406    Winter
308407    Winter
Name: type, Length: 308408, dtype: object

In [97]:
# Sort the data (ascending order)
results2.sort_values('athlete_id')

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,,
Summer,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
Summer,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
Summer,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
Summer,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
Summer,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
Winter,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
Winter,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [101]:
# Decending order
results2.sort_values('athlete_id', ascending = False)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,,
Winter,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
Winter,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
Winter,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
Summer,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
Summer,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
Summer,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
Summer,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
Summer,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None

In [103]:
# Sort by multiple parameters
results2.sort_values(['year','place'], ascending = False)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,,
Winter,2022.0,Winter,Cross Country Skiing (Skiing),"10 kilometres, Women (Olympic)",Nefeli Tita,138778,GRE,None,97.0,False,None
Winter,2022.0,Winter,Cross Country Skiing (Skiing),"10 kilometres, Women (Olympic)",Sára Pónya,148453,HUN,None,96.0,False,None
Winter,2022.0,Winter,Cross Country Skiing (Skiing),"10 kilometres, Women (Olympic)",Nahiara Díaz,147813,ARG,None,95.0,False,None
Winter,2022.0,Winter,Cross Country Skiing (Skiing),"15 kilometres, Men (Olympic)",Carlos Quintana,148135,COL,None,95.0,False,None
Winter,2022.0,Winter,Biathlon,"10 kilometres Sprint, Men (Olympic)",Cesar Beauvais,147883,BEL,None,94.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
None,NaN,None,Football (Football),"Foil, Individual, Men (Olympic)",Ioannis Kyrou,80412,GRE,None,NaN,False,None
None,NaN,None,Rowing,"Coxed Pairs (1 mile), Men (Intercalated)",Parmenios Nomikos,80428,GRE,Panhellenios Gymnastikos Syllogos,NaN,False,None
None,NaN,None,Rowing,"Coxed Pairs (1 mile), Men (Intercalated)",Panagiotis Saousopoulos,80429,GRE,Peiraikos Syndesmos,NaN,False,None
None,NaN,None,Football (Football),"Football, Men (Intercalated)",Georgios Pantos,100811,GRE,Athens,NaN,False,None
None,NaN,None,Football (Football),"Football, Men (Intercalated)",Alexandros Kalafatis,100812,GRE,Athens,NaN,False,None

In [104]:
# Sort by multiple parameters (different order)
results2.sort_values(['year','place'], ascending = [0,1])

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,,
Winter,2022.0,Winter,Speed Skating (Skating),"1,500 metres, Women (Olympic)",Ireen Wüst,109767,NED,None,1.0,False,Gold
Winter,2022.0,Winter,Short Track Speed Skating (Skating),"5,000 metres Relay, Men (Olympic)",Charles Hamelin,109918,CAN,Canada,1.0,False,Gold
Winter,2022.0,Winter,Short Track Speed Skating (Skating),"500 metres, Women (Olympic)",Arianna Fontana,109931,ITA,None,1.0,False,Gold
Winter,2022.0,Winter,Snowboarding (Skiing),"Team Cross, Mixed (Olympic)",Lindsey Jacobellis,110950,USA,Nick Baumgartner,1.0,False,Gold
Winter,2022.0,Winter,Snowboarding (Skiing),"Cross, Women (Olympic)",Lindsey Jacobellis,110950,USA,None,1.0,False,Gold
...,...,...,...,...,...,...,...,...,...,...,...
None,NaN,None,Football (Football),"Foil, Individual, Men (Olympic)",Ioannis Kyrou,80412,GRE,None,NaN,False,None
None,NaN,None,Rowing,"Coxed Pairs (1 mile), Men (Intercalated)",Parmenios Nomikos,80428,GRE,Panhellenios Gymnastikos Syllogos,NaN,False,None
None,NaN,None,Rowing,"Coxed Pairs (1 mile), Men (Intercalated)",Panagiotis Saousopoulos,80429,GRE,Peiraikos Syndesmos,NaN,False,None
None,NaN,None,Football (Football),"Football, Men (Intercalated)",Georgios Pantos,100811,GRE,Athens,NaN,False,None
None,NaN,None,Football (Football),"Football, Men (Intercalated)",Alexandros Kalafatis,100812,GRE,Athens,NaN,False,None